.hidden{
  display: none;
}

.phase{
  font-size: 135%;
}

.phase-title{
  margin-bottom: 25px;
}

.phase-title span{
  margin-right: 15px;
}

.phase-title select{
  margin-right: 15px;
}

#instances table{
  width: 100%;
  border-collapse: collapse;
}

#instances table td{
  padding: 15px 10px;
  border-bottom: 1px solid #CCC;
  background-color: #EFEFEF;
}

#lobby-exit {
  padding-top: 50px
}

#lobby-exit button{
  font-size: 120%;
}